{% extends "base.html" %}
{% block title %}Neueste Spiele{% endblock %}

{% block content %}
<section class="latest-matches-section">
  <h2 class="section-title">Neueste Spiele</h2>
  
<!--  WAS MACHT DAS???

  {% for match in latest_matches %}
    <a href="{% url 'match_detail' match.id %}" class="match-row-link">
      <div class="match-row">
        <div class="team team-left">
          <span>{{ match.team1.name }}</span>
        
          <img src="{% if match.team1.logo %}{{ match.team1.logo.url }}{% else %}/media/team_logos/default_logo.png{% endif %}" alt="{{ match.team1.name }}">
        </div>

        <div class="score">{{ match.score }}</div>

        <div class="team team-right">
         
          <img src="{% if match.team2.logo %}{{ match.team2.logo.url }}{% else %}/media/team_logos/default_logo.png{% endif %}" alt="{{ match.team2.name }}">
          <span>{{ match.team2.name }}</span>
        </div>
      </div>
    </a>
  {% endfor %}
  -->
  
</section>
<div class="section-break"></div>


{% for sport_data in data %}
  <section class="sport-section mb-5">
    <h2 class="section-title">
      <a href="{% url 'sport_matches' sport_data.sport.id %}" class="text-decoration-none">
        {{ sport_data.sport.name }}
      </a>
    </h2>

    {% for tournament, match in sport_data.tournaments_latest.items %}
      <div class="tournament-card mb-3">
        <h3 class="tournament-title">
          <a class="text-decoration-none"
             href="{% url 'sport_matches' sport_data.sport.id %}?tournament={{ tournament.id }}">
            {{ tournament.name }}
          </a>
        </h3>

        <a href="{% url 'match_detail' match.id %}" class="match-row-link">
          <div class="match-row">
            <div class="team team-left">
              <span>{{ match.team1.name }}</span>
              <!-- LOGO-PLATZHALTER: team1 -->
              <img src="{% if match.team1.logo %}{{ match.team1.logo.url }}{% else %}/media/team_logos/default_logo.png{% endif %}" alt="{{ match.team1.name }}">
            </div>

            <div class="score">{{ match.score }}</div>

            <div class="team team-right">
              <!-- LOGO-PLATZHALTER: team2 -->
              <img src="{% if match.team2.logo %}{{ match.team2.logo.url }}{% else %}/media/team_logos/default_logo.png{% endif %}" alt="{{ match.team2.name }}">
              <span>{{ match.team2.name }}</span>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </section>

    {% if not forloop.last %}
    <div class="section-break"></div>
  {% endif %}
  
{% endfor %}
{% endblock %}
